header {
    min-height: 100px;
}

nav {
    min-height: 100px;
}

.my-header-bgc {
    background-color: rgb(44, 62, 79);
}


a {
    text-decoration: none;
    color: white;
}

li {
    display: inline;
}


.row {
    border: 1px dashed blue;
}

[class^='col'] {
    border: 1px dashed blue;
    min-height: 100px;
}



#jumbotron,
#about {
    background-color: aquamarine;
}

footer {
    background-color: mediumslateblue;
}


.my-border-space {
    display: inline-block;
    width: 200px;
    border: 2px solid white;
}

.my-dark-border-space {
    display: inline-block;
    width: 200px;
    border: 2px solid black;
}

@media screen and (max-width: 480px) {
    .my-border-space {
        width: 80px;
    }

    .my-dark-border-space {
        width: 80px;
    }
}