header {
    min-height: 100px;
}

nav {
    min-height: 100px;
}

.my-header-bgc {
    background-color: rgb(44, 62, 79);
}


a {
    text-decoration: none;
    color: white;
}

li {
    display: inline;
}


#jumbotron,
#about {
    background-color:
        rgb(25, 188, 155);

    padding-top: 50px;
    padding-bottom: 50px;
}

#contacts,
#portfolio {
    padding-top: 50px;
    padding-bottom: 50px;
}

.my-aquamarine {
    color: rgb(25, 188, 155);
}

.my-border-space {
    display: inline-block;
    width: 200px;
    border: 2px solid white;
}

.my-dark-border-space {
    display: inline-block;
    width: 200px;
    border: 2px solid black;
}

@media screen and (max-width: 480px) {
    .my-border-space {
        width: 80px;
    }

    .my-dark-border-space {
        width: 80px;
    }
}

form {
    width: 50%;
}

.my-footer-bgc {
    background-color: rgb(59, 83, 109);
}

.my-bottom-footer-bgc {
    background-color: rgb(44, 62, 79);
}

footer {
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer-bottom {
    min-height: 70px;
}