a {
    text-decoration: none;
    color: white;
}

li {
    display: inline;
}



.row {
    border: 1px dashed blue;
}

[class^='col'] {
    border: 1px dashed blue;
    min-height: 100px;
}



#jumbotron,
#about {
    background-color: aquamarine;
}

footer {
    background-color: mediumslateblue;
}

.my-header-bgc {
    background-color: rgb(44, 62, 79);
}

.my-white {
    color: white;
}

header {
    min-height: 100px;
}

nav {
    min-height: 100px;
}